<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!-- Única puerta de acceso a la base de datos en todo el proyecto. El
       frontend no tiene cadena de conexión ni referencia a System.Data:
       llega a los datos solamente a través de este Web Service. -->
  <connectionStrings>
    <add name="CnxCumpleHN"
         connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BDCUMPLEHN;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=15"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!-- Los .cs y .asmx están en UTF-8 sin BOM. Sin esto las tildes de los
         mensajes y de los datos salen corruptas. -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"
                   culture="es-HN" uiCulture="es-HN" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>