<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!-- Los .aspx están guardados en UTF-8 sin BOM. Sin fileEncoding, ASP.NET
         los lee con la codificación ANSI del sistema y las tildes y los signos
         de puntuación salen corruptos. La cultura hondureña además define el
         formato de fechas y números de toda la aplicación. -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"
                   culture="es-HN" uiCulture="es-HN" />
    <!-- Una traza de excepción en pantalla revela rutas del servidor y
         versiones del framework, además de ser inservible para el usuario.
         ResponseRewrite conserva la dirección original.
         Para depurar un error concreto, poner mode="Off" temporalmente. -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error.aspx" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="frontend.Modelos" />
        <add namespace="frontend.Servicios" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <!-- Controles reutilizables de CumpleHN, registrados una sola vez para
             que ninguna página necesite declararlos. -->
        <add tagPrefix="gc" tagName="CampanaCard" src="~/Controles/CampanaCard.ascx" />
        <add tagPrefix="gc" tagName="CandidatoCard" src="~/Controles/CandidatoCard.ascx" />
        <add tagPrefix="gc" tagName="PropuestaCard" src="~/Controles/PropuestaCard.ascx" />
        <add tagPrefix="gc" tagName="PublicacionCard" src="~/Controles/PublicacionCard.ascx" />
        <!-- Los controles de participación viven en su propia carpeta porque
             ASP.NET no permite que un control registrado en Web.config se use
             desde otro control del mismo directorio, y las tarjetas de arriba
             los necesitan. -->
        <add tagPrefix="gc" tagName="Interaccion" src="~/Controles/Participacion/Interaccion.ascx" />
        <add tagPrefix="gc" tagName="Comentarios" src="~/Controles/Participacion/Comentarios.ascx" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceGlobalSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceGlobalSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44359/WebServiceGlobal.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceGlobalSoap"
        contract="webservices.WebServiceGlobalSoap" name="WebServiceGlobalSoap" />
    </client>
  </system.serviceModel>
</configuration>